
<div class="mdui-appbar mdui-appbar-fixed">
  <div class="mdui-tab mdui-color-cyan">
    <a href="/" class="mdui-ripple mdui-ripple-white" style="color: #fff">资讯</a>
    <a href="/oversea" class="mdui-ripple mdui-ripple-white" style="color: #fff">海外</a>
    <a href="/keyword" class="mdui-ripple mdui-ripple-white">关键词</a>
    <a href="/company" class="mdui-ripple mdui-ripple-white">公司</a>
    <a href="/report" class="mdui-ripple mdui-ripple-white">报道</a>
    <a href="/user/manage" class="mdui-ripple mdui-ripple-white">用户</a>
    <a href="/subscription" class="mdui-ripple mdui-ripple-white">订阅</a>
    <a href="/log" class="mdui-ripple mdui-ripple-white">日志</a>
  </div>
</div>

