{% extends "base.html" %}

{% block main %}

{% include "navbar.html" %}

<div style="margin: 20px;">
    <div class="mdui-table-fluid" style="margin-top: 60px;">
      <table class="mdui-table">
        <thead>
          <tr>
            <th>#序号</th>
            <th>用户名</th>
            <th>邮箱</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
            {% for index, user in enumerate(users) %}
            <tr>
                <td>{{ index+1 }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.create_at }}</td>
                <td>
                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-red user-delete" type="button"
                            id="{{ user.id }}">删除</button>
                </td>
            </tr>
            {% end %}


        </tbody>
      </table>
    </div>

</div>




<script>
    var $$ = mdui.JQ;

    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }

    $$(".user-delete").on('click', function () {
        if (confirm('是否要删除该用户？')) {
            var user_id = $$(this).attr("id");
            $$.ajax({
                method: 'POST',
                url: '/user/delete',
                data: {'user_id': user_id, '_xsrf': getCookie("_xsrf")},
                success: function (data) {
                    var res = JSON.parse(data);
                    if(res["success"] == true){
                        alert(res["msg"]);
                        window.location.reload();
                    } else {
                        alert(res["msg"]);
                    }
                }
            });
        }
    });
</script>


{% end %}